<h3>Additional Information</h3>
<table class="info-table">
  <tbody>
    <tr>
      <td>Brand</td>
      <td>BeautyShop</td>
    </tr>
    <tr>
      <td>Product Type</td>
      <td>Anti-aging Serum</td>
    </tr>
    <tr>
      <td>Skin Type</td>
      <td>All skin types</td>
    </tr>
    <tr>
      <td>Key Ingredients</td>
      <td>Peptides, Hyaluronic Acid, Vitamin C</td>
    </tr>
    <tr>
      <td>Volume Options</td>
      <td>30ml, 60ml, 80ml, 100ml</td>
    </tr>
    <tr>
      <td>Cruelty Free</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Paraben Free</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
