@let info = productDetail().detail.additionalInfo;

<h3>Información Adicional</h3>
<table class="info-table">
  <tbody>
    <tr>
      <td>Marca</td>
      <td>{{ info.brand }}</td>
    </tr>
    <tr>
      <td>Tipo de Producto</td>
      <td>{{ info.productType }}</td>
    </tr>
    <tr>
      <td>Tipo de Piel</td>
      <td>{{ info.skinType }}</td>
    </tr>
    <tr>
      <td>Ingredientes Clave</td>
      <td>{{ info.keyIngredients }}</td>
    </tr>
    <tr>
      <td>Opciones de Volumen</td>
      <td>{{ info.volumeOptions }}</td>
    </tr>
    <tr>
      <td>Libre de Crueldad</td>
      <td>{{ info.crueltyFree ? 'Sí' : 'No' }}</td>
    </tr>
    <tr>
      <td>Libre de Parabenos</td>
      <td>{{ info.parabenFree ? 'Sí' : 'No' }}</td>
    </tr>
  </tbody>
</table>
