@let reviews = productDetail().detail.reviews;

<div class="reviews-summary">
  <div class="reviews-overview">
    <div class="rating-large">
      <span class="rating-score-large">{{ reviews.rating }}</span>
      <div class="stars-large">
        <span class="star star--filled">★</span>
        <span class="star star--filled">★</span>
        <span class="star star--filled">★</span>
        <span class="star star--filled">★</span>
        <span class="star star--filled">★</span>
      </div>
      <span class="reviews-count"
        >Basado en {{ reviews.totalReviews }} reseñas</span
      >
    </div>
    <div class="rating-breakdown">
      <div class="rating-bar">
        <span class="rating-label">{{ reviews.stars.one }} stars</span>
        <div class="bar-container">
          <div
            class="bar-fill"
            [style.width]="
              (reviews.stars.one / reviews.totalReviews) * 100 + '%'
            "
          ></div>
        </div>
        <span class="rating-percent"
          >{{
            (reviews.stars.one / reviews.totalReviews) * 100 | number : '1.0-2'
          }}%
        </span>
      </div>
      <div class="rating-bar">
        <span class="rating-label">{{ reviews.stars.two }} stars</span>
        <div class="bar-container">
          <div
            class="bar-fill"
            [style.width]="
              (reviews.stars.two / reviews.totalReviews) * 100 + '%'
            "
          ></div>
        </div>
        <span class="rating-percent">
          {{
            (reviews.stars.two / reviews.totalReviews) * 100 | number : '1.0-2'
          }}%
        </span>
      </div>
      <div class="rating-bar">
        <span class="rating-label">{{ reviews.stars.three }} stars</span>
        <div class="bar-container">
          <div
            class="bar-fill"
            [style.width]="
              (reviews.stars.three / reviews.totalReviews) * 100 + '%'
            "
          ></div>
        </div>
        <span class="rating-percent">
          {{
            (reviews.stars.three / reviews.totalReviews) * 100
              | number : '1.0-2'
          }}%
        </span>
      </div>
      <div class="rating-bar">
        <span class="rating-label">{{ reviews.stars.four }} stars</span>
        <div class="bar-container">
          <div
            class="bar-fill"
            [style.width]="
              (reviews.stars.four / reviews.totalReviews) * 100 + '%'
            "
          ></div>
        </div>
        <span class="rating-percent">
          {{
            (reviews.stars.four / reviews.totalReviews) * 100
              | number : '1.0-2'
          }}%
        </span>
      </div>
      <div class="rating-bar">
        <span class="rating-label">{{ reviews.stars.five }} stars</span>
        <div class="bar-container">
          <div
            class="bar-fill"
            [style.width]="
              (reviews.stars.five / reviews.totalReviews) * 100 + '%'
            "
          ></div>
        </div>
        <span class="rating-percent">
          {{
            (reviews.stars.five / reviews.totalReviews) * 100
              | number : '1.0-2'
          }}%
        </span>
      </div>
    </div>
  </div>
</div>

<div class="reviews-controls">
  <select class="select" id="reviews-sort">
    <option value="newest">Más recientes</option>
    <option value="oldest">Más antiguas</option>
    <option value="highest">Mejor calificación</option>
    <option value="lowest">Peor calificación</option>
  </select>
</div>

<div class="reviews-list" id="reviews-list">
  @for (comment of reviews.comments; track $index) {
  <div class="review-card">
    <div class="review-header">
      <div class="reviewer-info">
        <span class="review-avatar">{{
          comment.author.slice(0, 1) + comment.author.slice(-1)
        }}</span>
        <span class="reviewer-name">{{ comment.author }}</span>
        @if (comment.isVerified) {
        <span class="review-verified" title="Verified purchase"
          >✔️ Verificado</span
        >
        }
        <span class="review-date">{{ comment.date }}</span>
      </div>
      <div class="review-rating">
        <div class="stars">
          @for (i of [0,1,2,3,4]; track trackByIndex(i)) {
          <span class="star" [class.star--filled]="i < comment.rating">★</span>
          }
        </div>
        <span class="rating-score">{{ comment.rating }}</span>
      </div>
    </div>
    <div class="review-body">
      <div class="review-title">{{ comment.title }}</div>
      <p class="review-comment">{{ comment.description }}</p>
      @if (comment.images.length) {
      <div class="review-images">
        @for(img of comment.images; track trackByValue(img)) {
        <img
          [src]="img | getResource"
          alt="Imagen de reseña"
          class="review-image"
        />
        }
      </div>
      }
    </div>
  </div>
  }
</div>
